body {
    margin: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: black;
    color: whitesmoke;
}

.green-txt-color{
    color: #10B981;
}

.title-txt {
    font-size: 30px;
    margin: 0;
}

.heading1 {
    margin: 0;
}

.body-container {
    background-color: #1F2937;
    margin: 20px auto;
    padding: 50px;
    width: 450px;
    height: 580px;
    border-radius: 10px;
    border-left: 15px solid #10B981;
}

.specifics-container {
    margin: 10px;
}

.paragraph-line {
    border-left: 2px solid whitesmoke;
}

#generatedPasswordContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 20px auto;
    padding-top: 20px;
    width: 500px;
    height: auto;
    border-top: 2px solid #273549;
}

#password1-el {
    background-color: #273549;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 15px;
    color: #10B981;
    border-radius: 5px;
    font-weight: bold;
}

#password2-el {
    background-color: #273549;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 15px;
    color: #10B981;
    border-radius: 5px;
    font-weight: bold;
}

.generate-btn{
    background-color: #10B981;
    border-radius: 5px;
    border: none;
    padding: 30px 50px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
}


.include-box {
    margin: 30px;
}

#numbers-btn{
    background-color: #da364c;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    color: whitesmoke;
}

#specialcharacters-btn{
    background-color: #da364c;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    color: whitesmoke;
}

#uppercase-btn{
    background-color: #da364c;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    color: whitesmoke;
}

#lowercase-btn{
    background-color: #da364c;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    color: whitesmoke;
}

#number-container {
    display: flex; 
    flex-direction: row;
    justify-content: start;
    margin: 5px;
}

.number-btn {
    padding: 12px 15px; 
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: #da364c;
    color: whitesmoke;
}

